@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  color: var(--figma-color-text);
  padding: 0;
  margin: 0;
}

.config {
  border-color: var(--figma-color-border);
  background-color: var(--figma-color-bg-secondary);
  color: var(--figma-color-text);
}

.title {
  color: var(--figma-color-text-secondary);
}

.copy-button {
  color: var(--figma-color-text-secondary);
}

.copy-button:hover {
  background-color: var(--figma-color-bg-tertiary);
}

.copy-button:hover {
  color: var(--figma-color);
}
